@import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Share+Tech+Mono&display=swap');

// Media query breakpoints
$mobile: 640px;
$tablet: 768px;
$desktop: 1024px;
$widescreen: 1280px;

// Colors
$slate: #262630ff;
$yellow: #ffd714ff;
$black: #111111ff;
$content: rgb(27, 27, 34);
